<%- include("../layouts/layoutHeader.ejs") %>
<body class="bg-white">
 <!-- Navbar Start -->
 <div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="/home" class="navbar-brand" style="height: 50px;">
            <img class="logo" src="/public/user/img/logo-removebg-preview.png" style=" height: 65px; "></img>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4 bg-secondary">
                <a href="/home" class="nav-item nav-link">Home <i class="fas fa-home"></i></a>
                <a href="/shop" class="nav-item nav-link">Shop <i class="fa fa-shopping-bag "></i></i></a>
                <a href="/wishlist" class="nav-item nav-link">wishlist <i class="fa fa-heart"></i></a>
                <a href="/cart" class="nav-item nav-link">cart <i class="fas fa-shopping-cart"></i></a>
                <%if(login){%>
                <div class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Profile <i class="fa fa-user"></i></a>
                    <div class="dropdown-menu text-capitalize">
                        <a href="/profile" class="dropdown-item">My Profile </a>
                        <a href="/logout" class="dropdown-item">LogOut</a>
                    </div>
                </div>
                <%}else{%>
                    <a href="/login" class="nav-item nav-link">Signin</a>
                    <%}%>
            </div>
        </div>
    </nav>
</div>

<!-- <script>
    const activePage = window.location.pathname;
    const navLinks = document.querySelectorAll('nav-link').
    forEach(nav-link =>{
        if(nav-link.href.includes('${activePage}')){
            nav-link.classList.add('actve')
        }
    })
</script> -->
<!-- Navbar End -->